<div id="tnc-easybook-wallet" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Terms of Use for Easybook Wallet Users</h4>
            </div>
            <div class="modal-body">
                <p class="text12"><i>Last modified: 23 April 2019</i></p>
                <p><strong>Important</strong> - please read these terms carefully. By using the Service (as defined below), You agree that You have read, understood, accepted and agreed with the Terms of Use (as defined below). You further agree to the representations made by Yourself below. If You do not agree to or fall within the Terms of Use of the Service and wish to discontinue using the Service, please do not continue using the Application (as defined below) or the Service.</p>
                <p>The Terms of Use stated herein (the “<strong>Terms of Use</strong>” or this “<strong>Agreement</strong>”) constitute a legal agreement between You (the “<strong>User</strong>”, “<strong>You</strong>”, or “<strong>Your</strong>”) and Easybook Pay Pte Ltd (Company No. 201838951D) of 8 Temasek Boulevard #14-02 Suntec Tower Three Singapore 038988 (the “<strong>Company</strong>”, “<strong>We</strong>”, “<strong>Us</strong>” or “<strong>Our</strong>” and trading as “<strong>Easybook</strong>”).</p>
                <p>By accessing to the Company’s website, using any of the Company’s application such as mobile application that provided and supplied to You either by the Company and/or the Company’s affiliated company/ies (collectively the “<strong>Application</strong>”), and/or downloading, installing or using any associated software supplied by the Company and/or the Company’s affiliated company/ies (the “<strong>Software</strong>”) which overall purpose is to enable persons seeking to establish an online account with the Company (“<strong>Account</strong>”) and use the digital wallet provided by the Company (the “Easybook Wallet” and generally, the “<strong>Service</strong>”), You hereby expressly acknowledge and agree to be bound by these Terms of Use, and any future amendments and additions to these Terms of Use as published from time to time at https://www.easybook.com or through the Application or other mode of communications as the Company deemed fit. Your continued use of the Application, Software and/or Service after any such changes, whether or not reviewed by You, shall constitute Your consent and acceptance of the revised Terms of Use. </p>
                <p>The use of Easybook Wallet is governed by the applicable laws, regulations and/or rules of Singapore. By using, accessing and/or exploiting the Easybook Wallet, You have read, understand and are hereby agreed to be bounded by the Terms and Use.</p>
                <ol class="bullet-list">
                    <li>
                        <strong>Use of the Easybook Wallet</strong>
                        <ul>
                            <li>The Easybook Wallet may be used for the purchase of all or partial products and services make available by the Company on the Application.</li>
                            <li>Prior to use the Easybook Wallet, You are required to verify Your identity in accordance to Clause 4 stated herein.</li>
                            <li>In order to use the Easybook Wallet, You are required to remit / top up a sum into the Easybook Wallet’s Account (“<strong>Top Up Sum</strong>”). The Top Up Sum will be stored in the Easybook Wallet as e-money (“<strong>e-Cash</strong>”) and You can access the balance of e-Cash by logging in to Your Account on the Application and/or Software from time to time.</li>
                            <li>The Easybook Wallet is not subjected to any minimum Top Up Sum; however, the Company reserves the rights to impose rules on minimum Top Up Sum as and when necessary.</li>
                            <li>Top Up Sum can be made either via offline at participating counters or via online banking, debit cards, credit cards and/or such other methods as prescribed by the Company from time to time. </li>
                            <li>Currently, the currencies accepted for the remittance of the Top Up Sum are SGD, MYR, IDR, THB, VND, USD, CNY, and MMK. The Company shall at its sole discretion to accept and/or reject any currency (notwithstanding the aforesaid accepted currency) from time to time.</li>
                            <li>Unless otherwise stated, the Top Up Sum Wallet shall have no expiry date.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Limitations & Benefits</strong>
                        <ul>
                            <li>Other than for those business Users notified in writing to the contrary, the Top Up Sum and/or the total amount of payment to the Easybook Wallet by a personal User shall not exceed SGD$5,000 at any time.</li>
                            <li>Unless otherwise agreed by Us, all other charges including chargebacks and taxes which arise in relation to the Top Up Sum or any transaction thereto, shall be borne by You solely. In event We have incurred any losses from the aforesaid, We reserves our right to claim back the amount (up to the disputed amount) from Your by deducting the same from Your Account or by any other way as We deemed fit in our sole discretion.</li>
                            <li>
                                The Company may at its sole and absolute discretion reject Your request to top-up Easybook Wallet or reject a payment transaction, or refund a payment or other transaction, for any reason whatsoever, including without limitation, where Your proposed Top Up Sum:
                                <ul>
                                    <li>would cause the aggregate amount of stored value held by the Company, directly or indirectly, alone or together with any person over whom the Company has control or influence, to exceed any value permitted under the prevailing laws and regulations; or</li>
                                    <li>would cause the e-Cash held by You in Your Easybook Wallet’s Account (or in the case of transfers of sum, the recipient of the transferred sum) to exceed the respective maximum amount for the Easybook Wallet as detailed above or any other regulatory or risk limit prescribed for that Easybook Wallet.</li>
                                </ul>
                            </li>
                            <li>To the fullest extent permitted by law, the Company may offer various promotions and marketing campaigns from time to time inter alia loyalty awards, cash back and/or bonus to You.</li>
                            <li>The Company may, at its sole and absolute discretion, award a sum equivalent to 5% per annum on the balance of e-Cash in the Easybook Wallet, to be calculated on daily basis for a prescribed period as set by the Company and/or in such other manners as determined by the Company from time to time, to the selected Users. Such sum shall form part of the e-Cash which shall subject to Clause 3 below.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Permissible Withdrawal and Transfer of e-Cash</strong>
                        <ul>
                            <li>To the fullest extent permitted by the law, withdrawal of the e-Cash from Your Easybook Wallet to Your personal banking account is permissible <strong>EXCEPT</strong> for any cash rebates, rewards, cash back and/or such other repayments which are granted and rewarded to You under any marketing promotional events that organised by Us (collectively “<strong>Promotion Rewards</strong>”).</li>
                            <li>You can use to Promotion Rewards for purchasing of goods and/or services on the Application.</li>
                            <li>All requests for withdrawal of e-Cash shall be done and completed within one month from the date of request (except in event of unforeseen circumstances which is beyond Our reasonable control) and the Company may charge You a withdrawal fee as set out in Clause 3 (e) below for each withdrawal request. </li>
                            <li>Currently, the currencies accepted for e-Cash withdrawal are in SGD, MYR, IDR, THB, VND, USD, and MMK. The Company shall at its sole discretion to accept and/or reject any currency (notwithstanding the aforesaid accepted currency) from time to time.</li>
                            <li>
                                The e-Cash withdrawal fee is equivalent to 1.8% of the total withdrawal amount OR such fee applicable to the below respective currency, whichever is higher: -
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Currency</th>
                                            <th>Withdrawal Fee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>SGD</td>
                                            <td>$ 1.00</td>
                                        </tr>
                                        <tr>
                                            <td>USD</td>
                                            <td>$ 1.00</td>
                                        </tr>
                                        <tr>
                                            <td>MYR</td>
                                            <td>RM 1.50</td>
                                        </tr>
                                        <tr>
                                            <td>IDR</td>
                                            <td>Rp 5,200.00</td>
                                        </tr>
                                        <tr>
                                            <td>THB</td>
                                            <td>฿ 20.00</td>
                                        </tr>
                                        <tr>
                                            <td>VND</td>
                                            <td>22,000.00 ₫</td>
                                        </tr>
                                        <tr>
                                            <td>MMK</td>
                                            <td>600.00 K</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>Unless otherwise agreed by Us, all other charges including chargebacks and taxes which arise in relation to the withdrawal requests and/or withdrawal sum, shall be borne by You solely. In event We have incurred any losses from the aforesaid, We reserves our right to claim back the amount (up to the disputed amount) from Your by deducting the same from Your Account or by any other way as We deemed fit in our sole discretion.</li>
                            <li>For purposes of the withdrawal, You are required to furnish Us Your personal banking details on the Application. You are only allowed to withdraw the e-Cash denominated in a currency equivalent to Your personal bank account’s currency (“<strong>home currency</strong>”).  Request for withdrawal of e-Cash other than home currency will be disqualified and rejected.</li>
                            <li>To the fullest extent permitted by the law, You may transfer and/or receive e-Cash to and/or from other Easybook Wallet Users. Nevertheless, The Company may at its sole and absolute discretion reject Your request to transfer and/or Your acceptance of e-Cash for any reason whatsoever</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Establishing your Identity</strong>
                        <ul>
                            <li>Every User must forthwith to verify their identity for every first time booking on the Application and/or first time using the Easybook Wallet. Verification will be done through One Time Password (OTP) send via mobile phone, email and/or such other modes as the Company shall deemed fit.</li>
                            <li>In relation to the request for withdrawal of e-Cash, every new Users are required to upload a copy of Your NRIC/IC/Passport documents together with a copy of bank confirmation letter on Your personal bank details or first page of Your latest bank statement. This is to ensure the e-Cash is to be withdrawn and transferred into the accurate personal bank account and to avoid any fraudulent transaction. </li>
                            <li>The Company and the Easybook Wallet is required to comply with all applicable laws, regulations, notices and guidelines issued by the relevant government and regulatory authority of Singapore, including the Payment Systems (Oversight) Act 2006 (Cap. 222A) of Singapore, and Notice on Prevention of Money Laundering and Countering the Financing of Terrorism – Holders of Stored Value Facilities (MAS Notice PSOA-N02), and Payment Services Act 2019 by the Monetary Authority of Singapore (“MAS”).</li>
                            <li>Pursuant to such applicable laws, regulations, notices and guidelines, Users of the Easybook Wallet may be required to provide to the Company such data to allow the Company to establish and verify their identity (together with, in the case of corporate account, the identity of the beneficial owners, directors or individuals with executive authority, and individuals authorised to operate the account) both at the time of opening the Easybook Wallet Account, at periodic intervals after opening the Account, and on ongoing basis.</li>
                            <li>You hereby acknowledge that the Company may collect such data on request, and use such data provided for the purposes of establishing Your identity and implementing an ongoing monitoring program to ensure the adherence of the Company and the user to the applicable laws, regulations, notices and guidelines, together with sharing such data internally with its affiliates and with third-party outsources (both in Singapore and overseas), as well as in relation to transfers and reporting of such data and Your transactions to the MAS, and such other government or regulatory authority as the Company may deem appropriate or as may be required under any applicable laws, regulations, notices and guidelines.</li>
                            <li>You agree that You will cooperate in relation to any anti-money laundering and countering terrorism financing screening that is required and to assist the Company in complying with any applicable laws, regulations, notices and guidelines in place. Further You agree that You are not a Politically Exposed Person as such term is defined under MAS Notice PSOA-N02 / MAS Notice 3001, and in the event that You become such Politically Exposed Person You agree to inform the Company immediately.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Representations and Warranties</strong>
                        <ul>
                            <li>By using the Service, You expressly represent and warrant that You are legally entitled to accept and agree to the Terms of Use. By using the Service, You further represent and warrant that You have the right, authority and capacity to use the Service and to abide by the Terms of Use. You further confirm that all the information which You provide shall be true and accurate.</li>
                            <li>Your use of the Service is for Your own sole personal use. You undertake not to authorize others to use Your identity or user status, and You may not assign or otherwise transfer Your user account to any other person or entity. When using the Service, You agree to comply with all applicable laws of Singapore.</li>
                            <li>You agree to immediately notify the Company by sending an e-mail to feedback@easybook.com or by calling the Customer Service at Tel: +65 6333 1948 should any fraudulent activity or theft of funds in the Easybook Wallet of which You become aware.</li>
                            <li>You agree that You will not use the Services to perform criminal activity of any sort, including but not limited to, money laundering, illegal gambling operations, terrorist financing, or malicious hacking. Should the Company determine in its sole discretion that the activity on Your Account is suspicious or related to any prohibited activity or illegitimate operation, the Company may cancel or suspend Your Account, block any outstanding transactions, deny any new transactions, and/or freeze any funds available on Your Account.</li>
                            <li>In any event there is a dispute between You and Your financial institution, You agree that You shall be responsible to resolve any disputes with Your financial institution on Your own.</li>
                            <li>You may only access the Service using authorized means. It is Your responsibility to check and ensure that You have downloaded the correct Software for Your device. The Company is not liable if You do not have a compatible device or if You have downloaded the wrong version of the Software to Your device. The Company reserves the right not to permit You to use the Service should You use the Application and/or the Software with an incompatible or unauthorized device or for purposes other than which the Software and/or the Application is intended to be used.</li>
                            <li>
                                By using the Software or the Application, You agree that:
                                <ul>
                                    <li>You will only use the Service for lawful purposes;</li>
                                    <li>You will only use the Service for the purpose for which it is intended to be used;</li>
                                    <li>You will not use the Application for sending or storing any unlawful material or for fraudulent purposes;</li>
                                    <li>You will not use the Application and/or the Software to cause nuisance, annoyance, or inconvenience;</li>
                                    <li>You will not use the Service, the Application and/or the Software for purposes other than obtaining the Service;</li>
                                    <li>You will not impair the proper operation of the network;</li>
                                    <li>You will not try to harm the Service, the Application and/or the Software in any way whatsoever;</li>
                                    <li>You will not copy, or distribute the Software or other content without written permission from the Company;</li>
                                    <li>You will only use the Software and/or the Application for Your own use and will not resell it to a third party;</li>
                                    <li>You will keep secure and confidential Your account password or any identification we provide You which allows access to the Service;</li>
                                    <li>You will provide the Company with proof of identity as it may reasonably request or require; </li>
                                    <li>You agree to provide accurate, current and complete information as required for the Service and undertake the responsibility to maintain and update Your information in a timely manner to keep it accurate, current and complete at all times during the term of this Agreement. You agree that the Company may rely on Your information as accurate, current and complete. You acknowledge that if Your information is untrue, inaccurate, not current or incomplete in any respect, the Company has the right but not the obligation to terminate this Agreement and Your use of the Service at any time with or without notice;</li>
                                    <li>You will only use an access point or device which You are authorized to use to access the Application, Software and Easybook Wallet;</li>
                                    <li>You shall not employ any means to defraud the Company or enrich Yourself, through any means, whether fraudulent or otherwise, through any event, promotion or campaign launched by the Company to encourage new subscription or usage of the Service by new or existing customers;</li>
                                    <li>You agree that the Service is provided on a reasonable effort basis; and</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Acceptable Use Policy</strong>
                        <ul>
                            <li>You agree to assume full responsibility and liability for all loss or damage suffered by Yourself, the Company or any third party as a result of any breach of the Terms of Use.</li>
                            <li>You agree not to use the Service in such a manner that You violate any law, statute, ordinance or regulation.</li>
                            <li>
                                Save as permitted by the Company but subject always to applicable laws and regulations, You agree to perform transactions using the Easybook Wallet involving:
                                <ul>
                                    <li>Making reservation and/or booking of bus tickets, train tickets, ferry tickets, flights tickets, car rental, charter services and hotel booking on the Application; and/or</li>
                                    <li>Payment of bus tickets, train tickets, ferry tickets, flights tickets, car rental, charter services and hotel booking on the Application;</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Taxes</strong>
                        <ul>
                            <li>You agree that this Agreement shall be subject to all prevailing statutory taxes, duties, fees, charges and/or costs, however denominated, as may be in force and in connection with any future taxes that may be introduced at any point of time.</li>
                            <li>You further agree to use Your best efforts to do everything necessary and required by the relevant laws to enable, assist and/or defend the Company to claim or verify any input tax credit, set off, rebate or refund in respect of any taxes paid or payable in connection with the Service supplied under this Agreement.</li>
                            <li>You agree that details of Your Easybook Wallet account and all transactions thereunder may be provided on request to any tax authorities either in Singapore or overseas where the purpose of such request is the lawful payment of tax obligations and/or the identification of assets for taxation.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>License Grant & Restrictions</strong>
                        <ul>
                            <li>The Company, its parent company, and its affiliates, where applicable hereby grant You a revocable, non-exclusive, non-transferable, non-assignable, personal, limited license to use the Application and/or the Software, subject to the Terms of Use herein. All rights not expressly granted to You are reserved by the Company and its licensors, where applicable.</li>
                            <li>
                                You hereby agree that You shall not:
                                <ul>
                                    <li>license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Application and/or the Software in any way;</li>
                                    <li>modify or make derivative works based on the Application and/or the Software;</li>
                                    <li>create internet “links” to the Application or “frame” or “mirror” the Software on any other server or wireless or internet-based device;</li>
                                    <li>reverse engineer or access the Software in order to (a) build a competitive product or service, (b) build a product using similar ideas, features, functions or graphics of the Application and/or the Software, or (c) copy any ideas, features, functions or graphics of the Application and/or the Software;</li>
                                    <li>launch an automated program or script, including, but not limited to, web spiders, web crawlers, web robots, web ants, web indexers, bots, viruses or worms, or any program which may make multiple server requests per second, or unduly burdens or hinders the operation and/or performance of the Application and/or the Software;</li>
                                    <li>use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents;</li>
                                    <li>post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights; or</li>
                                    <li>remove any copyright, trademark or other proprietary rights notices contained in the Service. </li>
                                </ul>
                            </li>
                            <li>
                                You may use the Software and/or the Application only for Your personal, non-commercial purposes and shall not use the Software and/or the Application to:
                                <ul>
                                    <li>send spam or otherwise duplicative or unsolicited messages;</li>
                                    <li>send or store infringing, obscene, threatening, libellous, or otherwise unlawful or tortious material, including but not limited to materials harmful to children or violative of third-party privacy rights;</li>
                                    <li>send material containing software viruses, worms, trojan horses or other harmful computer code, files, scripts, agents or programs;</li>
                                    <li>interfere with or disrupt the integrity or performance of the Software and/or the Application or the data contained therein;</li>
                                    <li>attempt to gain unauthorized access to the Software and/or the Application or its related systems or networks;</li>
                                    <li>impersonate any person or entity or otherwise misrepresent Your affiliation with a person or entity; or</li>
                                    <li>engage in any conduct that could possibly damage the Company’s reputation or amount to being disreputable.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Intellectual Property Ownership</strong>
                        <ul>
                            <li>The Company, its parent company and its affiliates, where applicable, shall own all right, title and interest, including all related intellectual property rights, in and to the Software and/or the Application and by extension, the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by You or any other party relating to the Service.</li>
                            <li>These Terms of Use do not constitute a sale agreement and do not convey to You any rights of ownership in or related to the Service, the Software and/or the Application, or any intellectual property rights owned by the Company and/or its licensors.</li>
                            <li>The Company’s name, the Company’s logo, the Service, the Software and/or the Application and the third-party merchants or transportation providers’ logos and the product names associated with the Software and/or the Application are trademarks of the Company, its parent company and/or its affiliates or third parties, and no right or license is granted to You to use them.</li>
                            <li>For the avoidance of doubt, the term the “Software” and the “Application” herein shall include its respective components, processes and design in its entirety.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Data Privacy & Personal Data Protection Policy</strong>
                        <ul>
                            <li>You agree and consent to the Company collecting, using, disclosing and processing Your Personal Data for the Purposes and in the manner as identified hereunder, and as further described in our Privacy Policy.</li>
                            <li>For the purposes of this Agreement, “Personal Data” means information about You, from which You are identifiable, directly or indirectly, including but not limited to Your name, identification card number, birth certificate number, passport number, nationality, address, telephone number, credit or debit card details, race, gender, date of birth, email address, any information about You which You have provided to the Company by any means and/or any information about You that has been or may be collected, stored, used and processed by the Company from time to time and includes sensitive personal data such as data relating to health, religious or other similar beliefs. The Company may also collect device data (such as Your IMEI number and the names of the apps You have installed on Your device) for the purpose of fraud prevention measures.</li>
                            <li>The provision of Your Personal Data is voluntary. However, if You do not provide the Company Your Personal Data, Your request for the Application and/or Service may be incomplete and the Company will not be able to process Your Personal Data for the Purposes outlined below and may cause the Company to be unable to allow You to use the Service.</li>
                            <li>
                                The Company may collect, use, disclose and process Your Personal Data for business and activities of the Company which shall include, without limitation the following (the “<strong>Purposes</strong>”):
                                <ul>
                                    <li>to perform the Company’s obligations in respect of any contract entered with You;</li>
                                    <li>to provide You with any services pursuant to the Terms of Use herein;</li>
                                    <li>process, manage or verify Your application for the Service pursuant to the Terms of Use herein;</li>
                                    <li>to validate and/or process payments pursuant to the Terms of Use herein;</li>
                                    <li>to process any refunds, rebates and or charges pursuant to the Terms of Use herein;</li>
                                    <li>to facilitate or enable any checks as may be required pursuant to the Terms of Use herein;</li>
                                    <li>to develop, enhance and provide what is required pursuant to the Terms of Use herein to meet Your needs;</li>
                                    <li>for internal administrative purposes, such as auditing, data analysis, database records;</li>
                                    <li>for purposes of detection, prevention and prosecution of crime including in relation to its obligations under any applicable laws, regulations, guidelines or notices issued by any government or regulatory authority (whether in Singapore or overseas);</li>
                                    <li>for the Company to comply with its obligations any applicable laws, regulations, guidelines or notices issued by any government or regulatory authority (whether in Singapore or overseas including disclosing such Personal Data to Singapore and overseas law enforcement agencies or courts);</li>
                                    <li>to respond to questions, comments and feedback from You; and</li>
                                    <li>in accordance with any applicable laws permitting the use, collection, disclosure and processing of Personal Data.</li>
                                </ul>
                            </li>
                            <li>
                                In addition to the above, the Company may wish to communicate with You either by email, telephone or text message in relation to the following matters (the “<strong>Marketing Purposes</strong>”):
                                <ul>
                                    <li>to process Your participation in any events, promotions, activities, focus groups, research studies, contests, promotions, polls, surveys or any productions and to communicate with You regarding Your attendance thereto;</li>
                                    <li>to send You alerts, newsletters, updates, mailers, promotional materials, special privileges, festive greetings from the Company, its partners, advertisers and or sponsors;</li>
                                    <li>to notify and invite You to events or activities organized by the Company, its partners, advertisers, and or sponsors; and/or</li>
                                    <li>to share Your Personal Data amongst the companies within the Company’s group of companies comprising the subsidiaries, associate companies and or jointly controlled entities of the holding company of the group (the “<strong>Group</strong>”) and with the Company’s and Group’s agents, third party providers, developers, advertisers, partners, event companies or sponsors who may communicate with You for any reasons whatsoever.</li>
                                </ul>
                            </li>
                            <li>If You do not consent to the Company processing Your Personal Data for any of the Marketing Purposes, please notify the Company at the following email address: feedback@easybook.com</li>
                            <li>If any of the Personal Data that You have provided to us changes, for example, if You change Your email address, telephone number, payment details or if You wish to cancel Your account or withdraw Your permission to receive communications for Marketing Purposes, please update Your details by sending Your request to the support contact details at the following email address: feedback@easybook.com</li>
                            <li>The Company will, to the best of its abilities, effect such changes as requested within fourteen (14) working days of receipt of such notice of change.</li>
                            <li>The Company reserves the right to transfer Your Personal Data to its affiliates and outsources (whether in Singapore or overseas) for the purpose of the use of such data in the operations of the Easybook Wallet stored value facility that are provided to the Company by such affiliates or outsources.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Indemnification</strong>
                        <ul>
                            <li>
                                By agreeing to the Terms of Use upon using the Service, You agree that You shall defend, indemnify and hold the Company, its parent company, its licensors and each such party’s parent organizations, subsidiaries, affiliates, officers, directors, members, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys’ fees and costs and/or regulatory action) arising out of or in connection with:
                                <ul>
                                    <li>Your violation or breach of any of the Terms of Use or any applicable law or regulation, whether or not referenced herein;</li>
                                    <li>Your violation of any rights of any third party;</li>
                                    <li>Your misuse of the Service, the Software and/or the Application.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Limitation of Liability</strong>
                        <ul>
                            <li>The Company makes no representation, warranty or guarantee as to the reliability, timeliness, quality, suitability, availability, accurate or completeness of the Service, the Application and/or the Software.</li>
                            <li>
                                The Company does not represent or warrant that:
                                <ul>
                                    <li>The use of the Service, the Application and/or the Software will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data;</li>
                                    <li>The Service and/or Promotion Rewards will meet Your requirements or expectations;</li>
                                    <li>Any stored data will be accurate or reliable;</li>
                                    <li>The quality of any products, services, information, rewards or another material purchased or obtained by You through the Application will meet Your requirements or expectations;</li>
                                    <li>Errors or defects in the Application and/or the Software will be corrected; or</li>
                                    <li>The Application or the Server that make the application available are free of viruses or other harmful components.</li>
                                </ul>
                            </li>
                            <li>The Service and Rewards are provided to You strictly on an “as is” basis.</li>
                            <li>All conditions, representations and warranties, whether express, implied, statutory or other, including without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third-party rights, are here excluded and disclaimed to the highest and maximum extent allowed under Singapore law.</li>
                            <li>The Service, the Application and/or the Software may be subject to limitations, delays and other problems inherent in the use the internet and electronic communications including the device used by You and/or other Users of Easybook Wallet being faulty, not connected, out of range of mobile signals or functioning incorrectly. The Company is not responsible for any delays, delivery failures, damages or losses resulting from such problems.</li>
                            <li>To the fullest extent permitted by law, the Company shall not be liable for any claim, loss, damage, data loss, costs or expenses incurred (whether direct or consequential), suffered or sustained by You arising from or in connection with You use of the Service, the Application and/or the Software.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Termination</strong>
                        <ul>
                            <li>Either the Company or You may terminate this Agreement by giving one month’s notice in writing to the other.</li>
                            <li>
                                You hereby agree that this Agreement shall terminate immediately in the event that You are:
                                <ul>
                                    <li>declared bankrupt, insolvent or enter into liquidation or such other scheme of arrangement or administration; or</li>
                                    <li>deceased.</li>
                                </ul>
                            </li>
                            <li>In the event of any of the above, the Company reserves the right to deal with any such trustee, executive or representative of the Singapore courts as in its sole discretion is considers appropriate in relation to the administration of any balance of e-Cash in the Easybook Wallet.</li>
                            <li>You hereby agree that the Company is entitled to terminate this Agreement immediately in the event that You are found to be in breach of any of the terms stipulated in this Agreement.</li>
                            <li>Any balance of e-Cash in the Easybook Wallet may be refunded and paid to You by the Company.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Complaints about use of the Service</strong>
                        <ul>
                            <li>You may contact the Company if You wish to make a complaint about the use of the Service either via the following Customer Service line: Tel: +65 6333 1948 or via the following email address: feedback@easybook.com</li>
                            <li>You agree to raise any complaints and disputes about any incorrect usage of Service: (i) within one (1) month from the date of transaction for payment of goods and services or (ii) within seven (7) days from the date of transaction of e-Cash to another User via Easybook Wallet or (iii) if You becoming aware of any fraudulent usage of the Easybook Wallet, to notify us immediately.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Notices</strong>
                        <ul>
                            <li>The Company may give a general notice on the Application, Software and/or Services, or by electronic mail to Your email address in the records of the Company, or by written communication sent by registered mail or pre-paid post to Your address in the record of the Company. Such notice shall be deemed to have been given upon the expiration of 48 hours after mailing or posting (if sent by registered mail or pre-paid post) or 1 hour after sending (if sent by email).</li>
                            <li>You may give notice to the Company (such notice shall be deemed given when received by the Company) by letter sent by courier or registered mail to the Company’s address at 8 Temasek Boulevard #14-02 Suntec Tower Three Singapore 038988.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Assignment</strong>
                        <ul>
                            <li>This Agreement as constituted by the Terms of Use as modified from time to time may not be assigned by You without the prior written approval of the Company but may be assigned without Your consent by the Company.</li>
                            <li>Any other purported assignment by You shall be void.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>General</strong>
                        <ul>
                            <li>This Agreement shall be governed by Singapore law, without regard to the choice or conflicts of law provisions of any jurisdiction, and any disputes, actions, claims or causes of action arising out of or in connection with the Terms of Use or the Service shall be referred to the Singapore International Arbitration Centre (“<strong>SIAC</strong>”), in accordance with the Rules of the SIAC as modified or amended from time to time (the “<strong>Rules</strong>”) by a sole arbitrator appointed by the mutual agreement of You and the Company (the “<strong>Arbitrator</strong>”). If You and the Company are unable to agree on an arbitrator, the Arbitrator shall be appointed by the President of SIAC in accordance with the Rules. The seat and venue of the arbitration shall be Singapore, in the English language and the fees of the Arbitrator shall be borne equally by You and the Company, provided that the Arbitrator may require that such fees be borne in such other manner as the Arbitrator determines is required in order for this arbitration clause to be enforceable under applicable law.</li>
                            <li>No joint venture, partnership, employment, or agency relationship exists between You, the Company or any third-party provider as a result of the Terms of Use or use of the Service.</li>
                            <li>If any provision of the Terms of Use is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced to the fullest extent under law. This shall, without limitation, also apply to the applicable law and jurisdiction as stipulated above.</li>
                            <li>The failure of the Company to enforce any right or provision in the Terms of Use shall not constitute a waiver of such right or provision unless acknowledged and agreed to by the Company in writing.</li>
                            <li>The Terms of Use comprises the entire agreement between You and the Company and supersedes all prior or contemporaneous negotiations or discussions, whether written or oral (if any) between the parties regarding the subject matter contained herein.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>