<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EasyCarEntities" connectionString="data source=&quot;db-01.cloudapp.net, 57505&quot;;initial catalog=easycartest2;persist security info=True;user id=kien;password={password};multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TestingEntities" connectionString="metadata=res://*/Models.EWalletDBModel.csdl|res://*/Models.EWalletDBModel.ssdl|res://*/Models.EWalletDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1BMQ580\TRUONGSQLSERVER;initial catalog=Testing;user id=sa;password=1234567;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EWalletModel" connectionString="data source=DESKTOP-1BMQ580\TRUONGSQLSERVER;initial catalog=Testing;user id=sa;password=1234567;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EWalletEntities" connectionString="data source=DESKTOP-1BMQ580\TRUONGSQLSERVER;initial catalog=Testing;user id=sa;password=1234567;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WalletEntities" connectionString="data source=DESKTOP-1BMQ580\TRUONGSQLSERVER;initial catalog=EasyWallet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=103.4.198.40,41011;initial catalog=R4_easibook_test_4;persist security info=True;user id=truong;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=103.4.198.40,41011;initial catalog=R4_easibook_test_4;persist security info=True;user id=truong;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>