<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WalletEntities" connectionString="data source=103.4.198.40,41011;initial catalog=R4_easiwallet_test;persist security info=True;user id=truong;Password=1234567;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CommonEntities" connectionString="data source=103.4.198.40,41011;initial catalog=R4_easibook_common_test;persist security info=True;user id=truong;Password=1234567;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TownBusEntities" connectionString="data source=103.4.198.40,41011;initial catalog=R4_easibook_test_4;persist security info=True;user id=truong;Password=1234567;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="owin:appStartup" value="API_Wallet.Startup" />
    <add key="owin:AutomaticAppStartup" value="true" />
    
    <add key="EWallet_LimitTopupAmount_USD" value="500" />
    <add key="EWallet_LimitTopupAmount_VND" value="30000000" />
    <add key="EWallet_LimitTopupAmount_CNY" value="1000" />
    <add key="EWallet_LimitTopupAmount_MYR" value="500" />
    <add key="EWallet_LimitTopupAmount_SGN" value="500" />
    <add key="EWallet_LimitTopupAmount_THB" value="4000" />
    <add key="EWallet_LimitTopupAmount_MMK" value="200000" />
    <add key="EWallet_LimitTopupAmount_KHR" value="500000" />
    <add key="EWallet_LimitTopupAmount_Rp" value="2000000" />    
    
    <add key="EWallet_LimitWithdrawAmount_USD" value="100" />
    <add key="EWallet_LimitWithdrawAmount_VND" value="1000000" />
    <add key="EWallet_LimitWithdrawAmount_CNY" value="100" />
    <add key="EWallet_LimitWithdrawAmount_MYR" value="100" />
    <add key="EWallet_LimitWithdrawAmount_SGN" value="100" />
    <add key="EWallet_LimitWithdrawAmount_THB" value="100000" />
    <add key="EWallet_LimitWithdrawAmount_MMK" value="100" />
    <add key="EWallet_LimitWithdrawAmount_KHR" value="100" />
    <add key="EWallet_LimitWithdrawAmount_Rp" value="100000" />

    <add key="EWallet_LimitTopupMinimumAmount_USD" value="5" />
    <add key="EWallet_LimitTopupMinimumAmount_VND" value="60000" />
    <add key="EWallet_LimitTopupMinimumAmount_CNY" value="20" />
    <add key="EWallet_LimitTopupMinimumAmount_MYR" value="10" />
    <add key="EWallet_LimitTopupMinimumAmount_SGN" value="5" />
    <add key="EWallet_LimitTopupMinimumAmount_THB" value="100" />
    <add key="EWallet_LimitTopupMinimumAmount_MMK" value="4000" />
    <add key="EWallet_LimitTopupMinimumAmount_KHR" value="10000" />
    <add key="EWallet_LimitTopupMinimumAmount_Rp" value="40000" />
    <add key="EWalletPathPictureUpload" value="E:\SingmayNew40_pdf\EasywalletShared" />
    <add key="LimitTopupExtraPerUser" value="5" />
    <add key="LimitNumberOfWithdrawalTimePerMonth" value="10" />
    <add key="DateStartUpReward" value="20191025" />
    <add key="DateExpireReward" value="20191130" />
    <add key="CutoffDateInterest" value="20190613" />
    <add key="OldDailyRateInterest" value="0.013368" />
    <add key="OldYearRateInterest" value="5" />
    <add key="Rewardstring" value="discount code cashback|deducted from reward|reward|discount code rebate|referral reward|booking bebate|referral topUp reward|rebate for flight|customer re-engagement" />
   <!-- Push me lib -->
    <add key="SecretPushNotificationApiKey" value="559a4cb9543e265bfe47bbdc23ca0bdef5ace5555452f27314946ce454cfd002" /> <!--/a84f3f1b0a110d485dcc083de676e420fb7f1bc93c38d06ebbb3674754eccaa0-->
    <add key="ApiPath" value="https://api.pushy.me" />
    <!--MoengagePush ap-->
    <add key="MoengageAppID" value="CH5ZQ8FZIFOU11G6OE4ER434_DEBUG" />
    <add key="MoengageSecret" value="QSUF8W32D9A7" />
    <add key="MoengageApiPath" value="https://pushapi.moengage.com/v2/transaction/sendpush" />
    <!--MoengagePush ap-->
    
    <!--the promo & free ride entitlement-->
    <add key="SetMinTopUpMYR20FreeRides" value="0" />
    <!---the promo & free ride entitlement-->
    <add key="IgnoreError" value="True" />
    <add key="EmailAddress_Error" value="truong.pham@easybook.com" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>